@import "../../assets/style/variables";

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  color:#b34202;
  // background: map-get($colors-branding, 'secondary');
  background-color: #fff;

  &_logo {
    font-size: 40px;
    font-weight:bold;
  }

  &_buy_car {
    width: 2%;
  }
  
}
