@import "../../assets/style/variables";

.header {
  margin-top: 2em;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(244,244,244,0.7343312324929971) 0%, rgba(255,255,255,1) 46%, rgba(244,244,244,1) 90%);


  .mobile-nav {
    display: none;
  }

  .u_wrapper {
    width: auto;
    height: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

    .login,
    .logo {
      width: 150px;
      font-size: large;
      align-items: center;
      justify-content: center;
      align-content: center;
      
    }

    .burger {
      display: none;
      cursor: pointer;
    }

    .opciones {
      width: 100%;
      height: auto;
      text-align: center;
      align-items: center;
      align-content: center;
      justify-content: center;

      .buscador {
        width: 100%;
        height: 50%;

        input {
          width: 70%;
          padding: 1em;
          border-radius: 25px;
          border: 2px solid #ccc;
        }
      }

      .nav {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        align-content: center;

        ul {
          width: 100%;
          justify-content: space-between;
          text-align: center;
          align-items: center;
          align-content: center;

          li {
            width: 100%;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            align-content: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {

  
  .header {
    height: auto;
    flex-direction: column;

    margin-left: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;

    .u_wrapper {
      width: auto;
      justify-content: space-between;

      .login {
        display: none;

        &:hover {
          color: white;
        }
      }

      .burger {
        display: block;
        width: 100px;
        background: linear-gradient(90deg, rgba(166,164,14,0.7343312324929971) 0%, rgba(233,212,85,1) 50%, rgba(129,113,20,1) 90%);
        border-radius: 20px;
        margin-bottom: 1em;
      }

      .opciones {
        display: none;
      }
    }

    .mobile-nav {
      display: block;
      display: flex;
      flex-direction: column;
      align-items: center;
      li{
        border-radius: 25px;
        background-color: #e0f7fa;
        margin-bottom: 1em;
      }
    }

    .active {
      display: none;
    }
  }
}







// .header {
//   // padding: 20px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: auto;

//   .envoltorio2 {
//     display: none;
//     width: 100%;
//     height: auto;

//     .navsecond {
//       display: none;
//       width: 100%;
//       height: 100px;
//     }

//   }

//   .wrapper {

//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     height: auto;
//     align-items: center;
//     text-align: center;
//     align-content: center;

//     .nav-button {

//       display: flex;
//       flex-direction: column;
//     }

//     .log-button {
//       width: 500px;
//       text-align: center;
//       align-items: baseline;
//     }


//   }



// }

// @media screen and (max-width: 992px) {


//   .header {


//     .wrapper {
//       display: none
//     }

//     .envoltorio2 {

//       display: block;
//       width: 100%;
//       height: auto;
//       align-items: center;
//       text-align: center;
//       align-content: center;

//       .navsecond {
//         display: flex;
//         width: 100%;
//         height: auto;
//         align-items: center;
//         text-align: center;
//         align-content: center;

//         ul {
//           width: 100%;
//           align-items: center;
//           text-align: center;
//           align-content: center;

//           li {
//             align-items: center;
//             text-align: center;
//             align-content: center;
//           }
//         }

//       }


//     }
//   }


// }