@import "../../assets/style/variables";

.header {
  // padding: 20px;
  display: flex;
  justify-content: center;  
  align-items:center;
  color:#b34202;
  width: 100%;
  // background-color: red;
  // background: map-get($colors-branding, 'secondary');
  // background-color: #fff;
  // width:1328px;
  .wrapper{
    
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;

    .log-button{
      width: 500px;
      
      text-align: center;
      align-items: baseline;
    }
    
    
  }


  
}
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
  header{
    display:flex;
    flex-direction: column;
  }
  .wrapper{
    display: grid;
    flex-direction: row;
  }
  

    
  
  




}
