.page-home {
    // position: relative;

    &_section_1 {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &_section_2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    &_section_3 {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-bottom: 100px;

        &_content {
            display: flex;
            flex-direction: column;
            align-items: center;

            // background-color: antiquewhite;
            margin: auto;

        }
    }
}


@media screen and (max-width: 992px) {

    .page-home_section_1 {
        display: flex;
        justify-content: center;

        flex-direction: column;

        .card-import {
            display: grid;
        }


    }

    .page-home_section_2 {
        display: flex;
        justify-content: center;

        flex-direction: column;

        .card-import {
            display: grid;
        }

    }

    .page-home_section_3 {
        display: flex;
        justify-content: center;

        flex-direction: column;
        .page-home_section_3_content{
           .basecuad{
               display: flex;
                flex-direction: column;
           }
            
        }


    }

    .footer {
        display: flex;
        flex-direction: column;

        width: 100%;
        margin: auto;
    }

}